body {
  display: flex;
  min-height: 100vh;
  background-color: cornflowerblue;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-direction: column;
}

.light-body {
  background-color: grey;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* width: 115px; */
  padding: 1em;
}

.top-body {
  /* padding: 30px 10px; */
  height: 15vh;
  width: 5vh;
  background-color: grey;
  margin: 0;
}

.dot {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  /* display: inline-block;
  margin-left: auto;
  margin-right: auto; */
}

.dot-red {
  background-color: rgb(139, 19, 19);
}

.dot-red:hover {
  background-color: red;
  box-shadow: 0 0 15px red;
}

.dot-yellow {
  background-color: rgb(255, 232, 21);
  margin: 1em 0;
}

.dot-yellow:hover {
  background-color: yellow;
  box-shadow: 0 0 15px yellow;
}

.dot-green {
  background-color: rgb(29, 114, 12);
}

.dot-green:hover {
  background-color: lightgreen;
  box-shadow: 0 0 15px lightgreen;
}
